@{
    ViewData["Title"] = "Upload Image";
}
<h2>Upload TIFF or IMG Image</h2>

<form asp-controller="Home" asp-action="Index" enctype="multipart/form-data" method="post">
    <div>
        <input type="file" name="imageFile" />
    </div>
    <div>
        <input type="submit" value="Convert to JPG" />
    </div>
</form>

@if (ViewBag.ConvertedImagePath != null)
{
    <h3>Converted JPG:</h3>
    <img src="@Url.Content(ViewBag.ConvertedImagePath)" width="300" />
}
